/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Weather Dashboard CSS
 * Last Edited by Arielle Sept 4 2022
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

ul {
    list-style-type: none;
    padding-left: 0px;
}

header {
    text-align: center;
    margin: 1rem;

}

#sideBody {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#searchBox, #citiesHistory {
    margin: 1rem;
    text-align: center;
}

#textBox, #submitBtn, .cities {
    width: 100%;
    margin: .5rem;
}


#oneDay {
    border: 1px solid black;
    padding: .5rem;
    margin: 1rem;
    padding: 2rem;
}


#weatherBlocks {
    justify-content: center;
    margin-top: 2rem;
    column-gap: 1rem;
}

.dayBlock {
    border: 1px solid black;
    padding: .5rem;
}
