/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Weather Dashboard CSS
 * Last Edited by Arielle Sept 14 2022
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.custom-container {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin-bottom: .5rem;
}

header {
    text-align: center;
    background-color: #17a2b8;
    color: white;
    padding: .5rem;
}


h3, h6 {
    text-align: center;
}

#sideBody {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#searchBox, #citiesHistory {
    margin: 1rem;
    text-align: center;
    width: 100%;
}

#searchBoxHome {
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
}

#textBox, #submitBtn, .cities {
    margin: .5rem;
}

/*Modifying bg color of btn btn info for city buttons only*/
.button-cities {
    margin-top: 1rem;
    background-color: white;
    color: #17a2b8;
}

#mainBody {
    justify-content: center;
}


#oneDay {
    border: 10px outset #17a2b8;
    margin: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

#fiveDay {
    margin: 1rem;
}

#weatherBlocks {
    margin-top: 2rem;
    justify-content: center;
}

.dayBlock {
    border: 5px inset #17a2b8;
    padding: 1rem;
    margin: .5rem;
}
