/*
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Weather Dashboard CSS
 * Last Edited by Arielle Sept 14 2022
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin-bottom: .5rem;
}

header {
    text-align: center;
    margin: 1rem;

}

h6 {
    text-align: center;
}

#sideBody {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#searchBox, #citiesHistory {
    margin: 1rem;
    text-align: center;
    width: 100%;
}

#textBox, #submitBtn, .cities {
    width: 100%;
    margin: .5rem;
}

.button-cities {
    margin-top: 1rem;

}


#oneDay {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}

#fiveDay {
    margin: 1rem;
}

#weatherBlocks {
    margin-top: 2rem;
}

.dayBlock {
    border: 1px solid black;
    padding: 1rem;
    margin: .5rem;
}
